<component name="ArtifactManager">
  <artifact type="war" name="spring-start-07-web:war">
    <output-path>$PROJECT_DIR$/spring-start-07-web/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-start-07-web</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-start-07-web-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-start-07-web:war exploded" />
    </root>
  </artifact>
</component>